@media only screen and (max-width: 1054px) {
  .sidebar {
    display: none;
  }

  header {
    grid-area: 1 / 1 / 2 / 3;
  }

  main {
    grid-area: 2 / 1 / 3 / 3;
  }
}

@media only screen and (max-width: 870px) {
  .dashboard-buttons {
    margin: 110px 20px 0 0;
  }

  header ul {
    background-color: #fff;
  }

  header li {
    display: block;
    padding: 3px 0 10px 10px;
    position: relative;
    background-color: #fff;
    width: 145px;
  } 

  header li img {
    display: inline-block;
  }

  header li.not-selected {
    display: none;
  }

  header ul:hover li.not-selected {
    display: block;
  }
  main {
    grid-template-rows: 400px 375px 1fr;
    padding: 0;
  }

  .charts {
    grid-template-rows: 300px 1fr 300px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .current-book-completed {
    grid-area: 1 / 1 / 2 / 2;
  }

  .total-books-read {
    grid-area: 1 / 2 / 2 / 3;
  }

  .total-reviews-written {
    grid-area: 1 / 3 / 2 / 4;
  }

  .piechart-button {
    grid-area: 2 / 1 / 3 / 4;
  }

  .bar-graph {
    grid-area: 3 / 1 / 4 / 4;
  }

  .bargraph-button {
    grid-area: 4 / 1 / 5 / 4;
  }

  .divider {
    grid-area: 3 / 1 / 4 / 3;
  }

  .current-book-review {
    grid-area: 3 / 1 / 4 / 3;
    margin-right: auto;
    margin-left: auto;
  }

  .social {
    grid-area: 4 / 1 / 5 / 3;
    margin-top: 0;
  }

  .share-button {
    width: 54px;
    display: inline-block;
    color: transparent;
    margin: 5px 5px 15px 5px;
  }

  .share-button img {
    float: none;
    padding-top: 13px;
    padding-left: 2px;
  }

  .center-buttons {
    margin-right:auto;
    margin-left: auto;
    width: 201px;
    margin-bottom: 10px;
  }

}


@media only screen and (max-width: 500px) {
  .add-book-button,
  .messages-button,
  .settings-button {
    display: none;
  }

  .book-search { 
    grid-area: 1 / 2 / 2 / 6;
  }

  main {
    grid-template-rows: 400px 190px 1fr;
  }

  .dashboard-buttons {
    display: none;
  }

  .charts {
    grid-template-rows: 200px 1fr 200px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .charts svg {
    height: 50%;
  }

  .table-column-1 {
    width: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .dashboard-buttons {
    display: none;
  }

  .bar-graph {
  grid-column-gap: 9px;
  margin-right: auto;
  margin-left: auto;
  }
}
  

