@media only screen and (max-width: 1084px) {
  .sidebar {
    display: none;
  }

  header {
    grid-area: 1 / 1 / 2 / 3;
  }

  main {
    grid-area: 2 / 1 / 3 / 3;
    height: 100%;
  }
}

@media only screen and (max-width: 870px) {
  .dashboard-buttons {
    margin: 110px 20px 0 0;
  }

  .dashboard-nav ul {
    background-color: #fff;
  }

  .dashboard-nav li {
    position: relative;
    display: block;
    width: 145px;
    padding: 3px 0 10px 10px;
    background-color: #fff;
  } 

  .dashboard-nav li img {
    display: inline-block;
  }

  .dashboard-nav li.not-selected {
    display: none;
  }

  .dashboard-nav ul:hover li.not-selected {
    display: block;
  }
  
  main {
    grid-template-rows: 550px 50px 1fr 1fr;
    padding: 0;
  }

  .charts {
    grid-template-rows: 200px 1fr 200px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .charts svg {
    height: 38%;
  }

  .total-pages-read {
    grid-area: 1 / 1 / 2 / 2;
  }

  .total-books-read {
    grid-area: 1 / 2 / 2 / 3;
  }

  .total-reviews-written {
    grid-area: 1 / 3 / 2 / 4;
  }

  .bar-graph {
    grid-area: 3 / 1 / 4 / 4;
  }

  .piechart-button {
    grid-area: 2 / 1 / 3 / 4;
  }

  .bargraph-button {
    grid-area: 4 / 1 / 5 / 4;
  }

  .divider {
    grid-area: 2 / 1 / 3 / 3;
    grid-template-columns: 44% 12% 44%;
  }

  .current-book-review {
    grid-area: 3 / 1 / 4 / 3;
    margin-right: auto;
    margin-left: auto;
  }

  .social {
    grid-area: 4 / 1 / 5 / 3;
    margin-top: 0;
  }

  .social-media-button {
    display: inline-block;
    width: 54px;
    margin: 5px 5px 15px 5px;
    color: transparent;
  }

  .social-media-button img {
    float: none;
    padding-top: 13px;
    padding-left: 2px;
  }

  .social-buttons-container {
    width: 201px;
    margin: 0 auto 10px auto;
  }
}

@media only screen and (max-width: 500px) {
  .book-search { 
    grid-area: 1 / 2 / 2 / 6;
  }

  .add-book-button,
  .messages-button,
  .settings-button {
    display: none;
  }

  main {
    grid-template-rows: 525px 50px 1fr 1fr;
  }

  .dashboard-buttons {
    display: none;
  }

  .charts {
    grid-template-rows: 175px 1fr 175px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .charts svg {
    height: 35%;
  }

  .table-column-1 {
    width: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .dashboard-buttons {
    display: none;
  }

  .bar-graph {
    grid-column-gap: 9px;
    margin-right: auto;
    margin-left: auto;
  }

  .divider {
    grid-template-columns: 40% 20% 40%;
  }
}