.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #313732;
  color: #a9a9a9;
  font-size: 13px;
  font-weight: bold;
}
   
.sidebar .profile-photo {
  width: 100px;
  border-radius: 50%;
  margin-top: 29px;
  margin-left: 48px;
}

.sidebar p {
  margin-bottom: 30px;
  text-align: center;
}

.user-account-menu:hover {
  cursor: pointer;
  color: #f3f3f3;
}

.account-drop-down {
  width: 17px;
  padding-left: 10px;
  margin-bottom: -3px;
}

h6 {
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 11px;
  color: #d4d3d37d;
}

.sidebar ul {
  padding-left: 0;
  margin-top: 0;
  list-style: none;
  text-transform: uppercase;
}

.sidebar li {
  padding: 8px 8px 8px 15px;
  line-height: 1.5;
}

.sidebar li:hover {
  cursor: pointer;
  color: #f3f3f3;
  background-color: #0a0c0a78;
}

ul img {
  height: 18px;
  padding-right: 13px;
  margin-bottom: -3px;
}

.sidebar hr {
  border-top: 1px;
  border-color: #271d1d7d;
}

.user-book-clubs li {
  font-weight: 300;
  text-transform: none;
}