/*dark-green: #313732
-teal: #059D8E
light-grey: #DEDEDE
-orange: #F26101 */

body {
  display: grid;
  grid-template-rows: 250px calc(100% - 200px);
  grid-template-columns: 200px calc(100% - 200px);
  font-family: 'Muli', sans-serif;
  color: #313732;
  on grid: .sidebar, header, .main;
}

/*sidebar-styles*/
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #313732;
    color: #a9a9a9;
    font-size: 13px;
    font-weight: bold;
  }
   
    .sidebar p {
     text-align: center;
     margin-bottom: 30px;
    }

    .user-account-menu:hover {
      cursor: pointer;
      color: #f3f3f3;
    }

    h6 {
      padding-left: 15px;
      color: #d4d3d37d;
      margin-bottom: 10px;
      font-size: 11px;
    }

    .sidebar ul {
      list-style: none;
      text-transform: uppercase;
      padding-left: 0;
      margin-top: 0;
    }

    .sidebar li {
      padding: 8px 8px 8px 15px;
      line-height: 1.5;
    }

    .sidebar li:hover {
       cursor: pointer;
       color: #f3f3f3;
       background-color: #0a0c0a78;
    }

    .account-drop-down {
      width: 17px;
      padding-left: 10px;
      margin-bottom: -3px;
    }

    ul img {
      height: 18px;
      padding-right: 13px;
      margin-bottom: -3px;
    }

    .sidebar hr {
      border-color: #271d1d7d;
      border-top: 1px;
      color:;
    }

    .user-account-menu li {
      text-transform: none;
      margin: px;
      text-align: center;
      padding-top: 0;
    }

    .sidebar .profile-photo {
      width: 100px;
      border-radius: 50%;
      margin-top: 29px;
      margin-left: 48px;
    }

    .user-book-clubs li {
      font-weight: 300;
      text-transform: none;
    }


/*header styles*/
header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #FFF;
  }

    .top-bar-container {
      display: grid;
      grid-template-rows: 75px;
      grid-template-columns: 75px calc(100% - 300px) 75px 75px 75px;
    }

      .top-bar-container img {
        height: 30px;
      }

      .toggle-sidebar-button {
        grid-area: 1 / 1 / 2 / 2;
        background: none;
      }

      header button:hover {
        cursor: pointer;
        background-color: #a9a9a93b
      }

      .book-search {
        grid-area: 1 / 2 / 2 / 3;
      }

      .book-search::placeholder {
        padding-left: 20px;
        font-size: 20px;
        color: #a9a9a97d;
      }

      .add-book-button {
        grid-area: 1 / 3 / 2 / 4;
        background: none;
      }

      .messages-button {
        grid-area: 1 / 4 / 2 / 5;
        background: none;
      }

      .settings-button {
        grid-area: 1 / 5 / 2 / 6;
        background: none;
      }

    .user-info {
      display: inline-block;
    }

    header h1 {
      margin: 25px 0 0 25px;
    }

    .badge-icon {
      height: 25px;
      padding-left: 23px;
      margin-top: 7px;
    }

    header p {
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
    }

    header a {
      display: inline-block;
      text-decoration: none;
      color: #059D8E;
    }

    .dashboard-buttons {
      display: inline-block;
      float: right;
      margin-top: 40px;
      margin-right: 40px;
    }

    .dashboard-buttons button {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      text-align: center;
      margin: 5px;
    }

    .dashboard-buttons img {
      height: 19px;
      margin: 5px 0 0 2px;
    }

    header ul {
      padding-left: 0;
      margin: 35px 0 0 0;
    }

    header li {
      list-style: none;
      display: inline;
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }

    header li:hover {
      cursor: pointer;
      padding-bottom: 10px;
      border-bottom: solid 3px #2a80b9;
    }

    header li img {
      display: none;
      padding-left: 8px;
    }

main {
    grid-area: 2 / 2 / 3 / 3;
    padding: 10px;
    background-color: #dedede99;
    display: grid;
    grid-template-rows: 300px calc(100% - 300px);
    grid-template-columns: 2fr 1fr;
  }

/*charts styles in the charts-styles.css file*/



  .divider {
      grid-area: 2 / 1 / 3 / 3;
      margin: 0 20px;
    }

      .divider img {
        height: 34px;
      }

      .divider hr {
        display: inline-block;
        width: 46.75%;
        margin-bottom: 15px;
        border: none;
        border-top: 1px solid #ccc;
      }

      .divider button {
        display: inline-block;
        background: none;
        border: none;
      }



/*table styles*/
    .current-book-review {
      grid-area: 2 / 1 / 3 / 2;
      padding: 19px;
      margin-top: 30px;
    }

      table {
        background-color: #fff;
        border-collapse: collapse;
      }

      .table-column-1 {
        font-weight: 800;
      }

      .table-column-2 {
        font-weight: 400;
        font-size: 16px;
        padding-left: 0;
      }

      th {
        background-color: #271d1d7d;
        width: 150px;
        color: #fff;
        text-align: left;
      }

      th.table-column-2 {
        font-weight: 700;
        line-height: 1.8;
      }

      th button {
        background-color: #adabab;
        border: none;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 6px 9px;
      }

      th button img {
        height: 13px;
        padding-right: 5px;
      }

      th, 
      td {
        height: 30px;
        padding: 20px;
        font-size: 14px; 
      }

      td {
        border-bottom: 1px solid #ddd;
      }


/*social-styles*/
.social {
      grid-area: 2 / 2 / 3 / 3;
      padding: 19px;
      margin-top: 30px;
    }

      .share-button {
        display: block;
        width: 100%;
        height: 50px;
        background: none;
        color: #fff;
        margin-bottom: 20px;
        border: none;
      }

      .share-button img {
        height: 20px;
        float: left;
        padding-left: 10px;
      }

      .facebook-button {
        background-color: #4b70c1;
      }

      .twitter-button {
        background-color: #00a8ef;
      }

      .instagram-button {
        background-color: #e95950;
      }

      .share-links {
        display: grid;
        grid-template-rows: 40% 40% 20%;
        grid-template-columns: 75% 25%;
      }

      .share-links img {
        grid-area: 1 / 1 / 2 / 3;
        margin-top: 16px;
        width: 24px;
      }

      .share-links h3 {
        grid-area: 1 / 1 / 2 / 3;
        margin-bottom: 5px;
        margin-left: 34px;
      }

      .share-links p {
        grid-area: 2 / 1 / 3 / 3;
        margin-bottom: 25px;
      }

      .share-links input {
        grid-area: 3 / 1 / 4 / 2;
        width: 100;
        height: 40px;
        padding: 0;
        padding-left: 10px;
        color: #a9a9a9;
      }

      .share-links button {
        grid-area: 3 / 2 / 4 / 3;
        padding: 0;
        margin: 0;
        background-color: #059D8E;
        color: #fff;
      }

      .social hr {
        margin-top: 30px;
        border: none;
        border-top: 1px solid #ccc;
      }



